/*SETTING PADDING AND MARGIN OF ALL ELEMENTS TO ZERO*/
*{
    padding:0;
    margin:0;
}

/*MAIN TOP BAR STYLING*/
a{
    text-decoration: none;
    color:white;    
}
.list{
    display:flex;
    font-family:'Oswald',sans-serif;
    background-color: black;
    box-shadow: 0px 6px 10px #87CEEB;

}
/*FIRST LIST ELEMENT*/   
.link{
    cursor:pointer;
    margin:0 auto;
}
#logo-head,#logo-head:link,#logo-head:visited,#logo-head:hover,#logo-head:active{
    position:absolute;
    margin-left:50px;
    padding:5px 15px 5px 15px;
    letter-spacing:2px;
    font-family:'Oswald',sans-serif;
}
#shp-logo{
    max-width:42px;
    max-height:42px;
    vertical-align:middle;
    padding:10px 0 0 10px;
    padding-bottom:8px;
}
/*LIST ELEMENTS ON RIGHT OF PAGE*/
.head-left{
    list-style-type:none;
    display:flex;
    position:absolute;
    margin-left:33.4em;
    font-size:20.5px;
}
#li2,#li3,#li4{
    margin:10px 8em 0 0;
    cursor:pointer;
}


/*UNDERLINE ANIMATIONS*/      
.link_text:hover{
    width:100%;
    text-decoration:underline;
} 

/*BODY OF WEBSITE*/
body{
    background-image: url("C:/Users/ASUS/Desktop/PROGRAMMING/One-piece-tribute/IMAGES/BG-P1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#Article_img{
    max-width:1500px;
    max-height:300px;   
}
#ARTICLE{
    text-align: center;
    margin:50px 0 100px 0;
    vertical-align: middle;
}
div,p{ margin:0;}
#text{
    font-family: 'Roboto', sans-serif;
    font-weight:bolder; 
    background-color:#ffd020; 
    margin: 50 27% 25 27%;
    padding:30 20 25 20;
    border:dashed 5px #fe0212;
}
.container{
    width:80%;
    margin:0 auto;
}