/*MAIN INDEX PAGE!!!*/
/*SETTING PADDING AND MARGIN OF ALL ELEMENTS TO ZERO*/
/*General tag settings*/
*{
    padding:0;
    margin:0;
}
/*MAIN TOP BAR STYLING*/
body{
    background-color: #FFF;
    background:linear-gradient(180deg,#0CAAF3,#CEA5EB 50%)
}
a{
    text-decoration: none;
    color:white;    
}
strong{
    font-weight:900;
}
.list{
    display:flex;
    font-family:'Oswald',sans-serif;
    background-color: black;
    box-shadow: 0px 6px 10px slategray;
}
.link{
    cursor:pointer;
    margin:0 auto;
}
#logo-head,#logo-head:link,#logo-head:visited,#logo-head:hover,#logo-head:active{
    position:absolute;
    margin-left:50px;
    padding:5px 15px 5px 15px;
    letter-spacing:2px;
    list-style-type:none;
}
#shp-logo{
    max-width:42px;
    max-height:42px;
    vertical-align:middle;
    padding:10px 0 0 10px;
    padding-bottom:8px;
}
/*LIST ELEMENTS ON RIGHT OF PAGE*/
.head-left{
    list-style-type:none;
    display:flex;
    position:absolute;
    margin-left:48%;
    font-size:20.5px;
}
#li2,#li3,#li4{
    margin:10px 8em 0 0;
    cursor:pointer;
}
/*UNDERLINE ANIMATIONS*/      
.link_text:hover{
    width:100%;
    text-decoration:underline;
} 
/*BODY OF WEBSITE*/
/*tag or general settings*/        
div,p{
    margin:0;
}
.text{
    font-family: 'Roboto', sans-serif; 
    font-weight:bolder;
}
/*Article 1*/
#Article_img{
    max-width:1500px;
    max-height:300px;   
}
#p1{
    background-color:#ffd020; 
    margin: 50 24em 25 24em;
    padding:30 20 25 20;
    border:dashed 8px #fe0212;
    min-width:15em;
}
#CONTAINER-1{
    text-align: center;
    vertical-align: middle; 
    padding:50px 0 50px 0;
    margin:30 30 30 30;
    background-image: url("../IMAGES/BG-P1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius:30px;
    box-shadow:0px 6px 10px slategray;
    min-width: 70em; 
}
/*Article 2*/
#Article_img2{
    max-width:1500px;
    max-height:300px;   
}
#CONTAINER-2{
    text-align: center;
    vertical-align: middle;
    min-width: 70em; 
    padding:50px 0 50px 0;
    margin:30 30 30 30;
    background-image: url("../IMAGES/BG2-P1.png");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius:30px;
    box-shadow:0px 6px 10px slategray;
}
#p2{
    background-color:#ffd020; 
    border:dashed 8px #fe0212;
    margin: 50 24em 25 24em;
    padding:30 20 25 20; 
    min-width:15em;   
}
/*MAIN CONTAINER OF 2 ARTICLES*/
.container_main{
    width:960px;
    max-width:700px;
    margin:0 auto;
}
.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}
/*PLACES PAGE!!!!*/